@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fira-mono-v14-latin-regular.woff2') format('woff2'); 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Mono';
  color: white;
  background-color: #1e1e2e;
  padding: 0.3rem;
}

.ps1 {
  display: flex;
  align-items: center;
  gap: 2px;
}

.user {
  color: #a6e3a1;
}

.host {
  color: #74c7ec;
}

.dir {
  color: #fab387;
}

input {
  background-color: #1e1e2e;
  border: none;
  color: white;
  font-family: 'Fira Code';
  font-size: 1.1rem;
}

input:focus {
  outline: none;
}