* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: white;
  background-color: black;
  padding: 0.3rem;
}

.ps1 {
  display: flex;
  gap: 2px;
}

.user {
  color: green;
}

.host {
  color: lightseagreen;
}

.dir {
  color: orange;
}

input {
  background-color: black;
  border: none;
  color: white;
}

input:focus {
  outline: none;
}