* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: white;
  background-color: #1e1e2e;
  padding: 0.3rem;
}

.ps1 {
  display: flex;
  align-items: center;
  gap: 2px;
}

.user {
  color: #a6e3a1;
}

.host {
  color: #74c7ec;
}

.dir {
  color: #fab387;
}

input {
  background-color: #1e1e2e;
  border: none;
  color: white;
}

input:focus {
  outline: none;
}